<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="container" >
    <div class="banner">
        <img src="{% static 'image/cardimage1.jpeg' %}" alt="Image 1" height="500px" width="310px">
        <img src="{% static 'image/cardimage2.jpeg' %}" alt="Image 2" height="500px" width="310px">
        <img src="{% static 'image/cardimage3.jpeg' %}" alt="Image 3" height="500px" width="310px">
        <img src="{% static 'image/cardimage4.jpeg' %}" alt="Image 4" height="500px" width="310px">
        </div>
    </div>
    <center><h1 style="border ">Our Collections</h1></center>
    <div class="container">
        <div class="row">
            {% for m in item %}
            <div class="col-sm-4">
                <div class="card">
                    <img src="{{m.image.url}}" alt="..." height="200px" width="100%">
                    <h5 class="card-title">{{m.p_name}}</h5>
                    <a type="submit" href="{% url 'products' m.id %}">{{m.desc}}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>    {% if user.is_authenticated %}
<h7 class="text-danger">Welcome : {{user.username}}</h7>
{% else %}
<h7 class="text-danger">Welcome : {{user.Guest}}</h7>
{% endif %}</body>
    <h6 style="text-align: justify;">
        Discover our latest collection curated just for you! Whether you're searching for timeless classics or bold, trend-setting pieces, our shopping app offers a diverse range of styles to suit every occasion. From chic everyday essentials to statement-making accessories, explore our carefully selected assortment designed to elevate your wardrobe effortlessly. Embrace fashion-forward designs crafted with quality and passion, ensuring each piece embodies style and sophistication. Dive into our collection today and redefine your fashion journey with us!
    </h6>
</div>

{% endblock %}

</body>
</html>

